.DS_Store

.cache/
node_modules/
.tmp/

npm-debug.log
yarn-error.log

dist/*
!dist/react-native-ohos-watermelondb-*.tgz
dev/

coverage/

.vscode
.idea

docs-build/

**/.metro-health-check*

# windows
msbuild.binlog

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
examples/harmony/har/
